* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

#card {
  display: flex;
  gap: 4px;
  padding: 20px;
  background: #222;
  border-radius: 16px;
}

/* Piano Key Style */
.key {
  width: 45px;
  height: 180px;
  user-select: none;
  background: linear-gradient(to bottom, #fff, #e2e2e2);
  border-radius: 8px;
  border: 2px solid #aaa;

  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 10px;

  font-weight: bold;
  font-size: 18px;

  cursor: pointer;

  box-shadow: 0px 10px 0px #888;
  transition: all 0.12s ease-in-out;
}

/* When pressed */
.key.pressed {
  transform: translateY(10px);
  box-shadow: 0px 3px 0px #666;
  background: linear-gradient(to bottom, #ddd, #bcbcbc);
  border-color: #888;
}

